@import 'variables';
@import '../../variables';
@import '../../mixins';

.spreedsheet__toolbar {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  height: $toolbar-height;
  left: 0;
  right: 0;
  top: $header-height;
  border-top: $border;
  border-bottom: $border;
  padding: 7px 10px;
  display: flex;

  &__button {
    @include button()
  }
}