// Colors
$black: #000000;
$lightdark: #202124;
$dark: rgba(0, 0, 0, 0.7);
$blue: #1a73e8;
$white: #fff;
$darkwhite: #eee;
$light: #e6f4ea;
$lightgrey: #c0c0c0;
$grey: #888;
$green: green;

// Border
$border_color: $grey;
$border: 1px solid $border_color;
$border-radius: 4px;